{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- hero-section -->
<main>
    <section class="main">
        <!-- shop now button -->
        <div class="my-5 hero-content">
            <h1 class="text-black">The best art goes <br> first through us
            </h1>
            <h2 class="shop-now-btn mt-4">
                <a href="{% url 'products' %}"
                    class=" btn btn-secondary btn-lg px-4 py-2 rounded-5 text-uppercase fw-semibold">Shop
                    Now</a>
            </h2>
        </div>
    </section>

    <section>
        <!-- card section -->
        <div class="container">
            <div class="text-center py-5">
                <h2>Check out our newest arrivals!</h2>
            </div>
            <div class="row">
                {% for artwork in artworks %}
                    {% if artwork.is_featured and artwork.price is not None %}
                    <div class=" col-12 col-lg-4 ">
                        <div class="card mx-auto mb-5" style="width: 90%;">
                        <img src="{{ artwork.image.url }}" class="card-img-top" alt="{{ artwork.description }}">
                            <div class="card-body">
                                <p class="card-text fw-semibold">{{ artwork.name }}
                                    <span class="badge bg-secondary ms-3">New</span>
                                </p>
                                <p class="card-text fs-4 fw-semibold">&#8364; {{ artwork.price }}</p>
                                <div class="d-flex justify-content-between">
                                    <span class="text-secondary pt-1">
                                        <i class="fa-solid text-secondary fa-tags"></i>
                                        Cover Art
                                    </span>
                                    <span>
                                        <a href="#" class="btn btn-outline-primary">Buy now</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- /card section -->
    </section>
</main>
<!-- /hero-section -->
{% endblock %}